/* Base Pane background */
.root {
    -fx-background-color: rgba(0, 0, 0, 0.3); /* 30% opacity */
    -fx-background-image: url(../images/background.png);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-blend-mode: multiply; 
}

.transparent-overlay {
    -fx-background-color: rgba(237, 161, 96, 0.8); 
}

.all-button {
    -fx-background-color: #fff2d8;
    -fx-text-fill: black; 
    -fx-background-radius: 100;
    -fx-font-size: 20px; 
    -fx-border-width: 2px; 
    -fx-font-family: "Assistant SemiBold"; 
    -fx-cursor: hand; 
}

.all-button:hover {
    -fx-background-color: #f6ac9e;
    -fx-opacity: 0.9; 
    -fx-text-fill: #333; 
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 3);
}

.right-bar {
    -fx-background-color: rgba(220, 175, 140, 0.4);
}

.label-blib {
    -fx-font-size: 40;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.leftBar {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.leftBar-text {
    -fx-font-family: "Assistant SemiBold";
    -fx-font-size: 25;
}

#guestBtn {
    -fx-background-color: #cdd8f1;
}

#guestBtn:hover {
    -fx-background-color: #88a6e8;
}