/* Base Pane background */
.root {
    -fx-background-color: rgba(0, 0, 0, 0.3); /* 30% opacity */
    -fx-background-image: url(../HeaderImage/background.png);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-blend-mode: multiply; /* Blends the image with the background */
}

.transparent-overlay {
    -fx-background-color: rgba(237, 161, 96, 0.8); /* 30% opacity */
}


/* Hover effect for buttons */
.button:hover {
    -fx-background-color: #f6ac9e;
    -fx-opacity: 0.9; /* Subtle fade effect */
    -fx-text-fill: #333; /* Keep dark text */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 3);
    -fx-cursor: hand;
}
#btnReturn {
    -fx-background-color: #696969;  /* Light grey */
    -fx-text-fill: black;
}

#btnReturn:hover {
    -fx-background-color: #808080;  /* Medium grey */
}

#btnReturn:pressed {
    -fx-background-color: #696969;  /* Dark grey when pressed */
}

.all-button {
    -fx-background-color: #fff2d8;
    -fx-text-fill: black; /* Consistent white text */
    -fx-background-radius: 100;
    -fx-font-size: 20px; /* Font size */
    -fx-border-width: 2px; /* Border thickness */
    -fx-font-family: "Assistant SemiBold"; /* Consistent font family */
    -fx-cursor: hand; /* Change cursor to hand on hover */

}


.right-bar{
    -fx-background-color: rgba(220, 175, 140, 0.4);
}

.label-blib{
    -fx-font-size: 40;
    -fx-font-family: "Assistant";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.leftBar{
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.leftBar-text{
    -fx-font-family: "Assistant SemiBold";
    -fx-font-size: 25;
}

#guestBtn{
    -fx-background-color: #cdd8f1;
}
#guestBtn:hover{
    -fx-background-color: #88a6e8;
}
