.root {
    -fx-background-color: #fff2d8;
}

/* Style for round buttons */
.button {
    -fx-background-radius: 100;  /* Makes the button round */
    -fx-font-size: 15px;
    -fx-background-color: #ecbba7; /* Optional: You can change the color */
}
.button:hover {
    -fx-background-color: rgb(140, 109, 109); /* Slightly darker blue */
    -fx-opacity: 0.9; /* Subtle fade effect */
    -fx-text-fill: #333; /* Keep dark text */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0.5, 0, 3);
    -fx-cursor: hand;
}

/* "Exit" button */
#btnExit {
    -fx-background-color: #ffba52; 
}

#btnExit:hover {
    -fx-background-color: #ff8457; 
}

.button .text {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;  /* Optional: Text color */
    -fx-font-family: "Assistant SemiBold";
}
/* Style for the label */
.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Assistant SemiBold";
}

.text-field{
    -fx-background-radius: 20px;
}
#btnConnect:hover{
    -fx-background-color: #76d856;
}
