.root {
    -fx-background-color: #f4f4f4;
}

/* Styling for buttons */
.button {
    -fx-background-color: #6ab7f6;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
     -fx-border-radius: 5px; /* rounded corners */
    -fx-background-radius: 5px;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

/* Button hover effect */
.button:hover {
    -fx-background-color: #4890cb; 
    -fx-cursor: hand;
}

/* "Exit" button */
#btnExit {
    -fx-background-color: #ffba52; 
}

#btnExit:hover {
    -fx-background-color: #ff8457; 
}

.button .text {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
