.text-field {
    -fx-background-radius: 17;
    -fx-font-family: "Assistantd";
    -fx-font-size: 14;
}

/* Menu Button Styling */
.menu-button {
    -fx-background-color: #fec999;
    -fx-background-radius: 100;
    -fx-text-fill: black; 
    -fx-font-size: 18px;
    -fx-border-width: 2px; 
    -fx-font-family: "Assistant SemiBold";
}

.menu-button:hover {
    -fx-background-color: rgba(253, 169, 92, 0.65);
    -fx-text-fill: #333; 
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.5, 0, 3);
}

.menu-button .text {
    -fx-text-fill: black; 
    -fx-font-size: 15px; 
    -fx-font-family: "Assistant SemiBold"; 
    -fx-cursor: hand; 
}

.label-text {
    -fx-font-family: "Assistant SemiBold";
    -fx-font-size: 18px;
}

.ratio {
    -fx-font-family: "Assistant";
    -fx-font-size: 18px;
}

.table-view {
    -fx-background-color: #fff8f2;
    -fx-font-family: "Assistant SemiBold";
    -fx-font-size: 14;
    -fx-background-radius: 5px;
}

.table-row-cell:odd {
    -fx-background-color: #fdf6f0;
}

.table-row-cell:even {
    -fx-background-color: #fee2cd;
}

.table-row-cell:hover {
    -fx-background-color: #f4e2e1;
}

/* Scan Book Button Styling */
.scan-buttons {
    -fx-background-color: #edc915; 
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-family: "Assistant SemiBold";
    -fx-background-radius: 100;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.scan-buttons:hover {
    -fx-background-color: #e6ba00;
    -fx-cursor: hand;
}

/* Commit Borrow Button Styling */
#commitBorrowButton {
    -fx-background-color: #5caa58; 
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Assistant SemiBold";
    -fx-background-radius: 100;
}

#commitBorrowButton:hover {
    -fx-background-color: #52a64d; 
    -fx-cursor: hand;
}